alembic==1.8.0
blinker==1.4
click==8.1.3
colorama==0.4.5
config==0.5.1
Flask==2.1.2
Flask-CKEditor==0.4.6
Flask-JSON==0.3.4
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-SQLAlchemy==2.5.1
Flask-Admin==1.6.0
Flask-Principal==0.4.0
greenlet==1.1.2
importlib-metadata==4.12.0
importlib-resources==5.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.0
MarkupSafe==2.1.1
python-dotenv==0.20.0
SQLAlchemy==1.4.39
typing_extensions==4.2.0
Werkzeug==2.1.2
WTForms==3.0.1
zipp==3.8.0

pip~=22.1
wheel~=0.36.2
Pillow~=8.3.1
docutils~=0.18
Babel~=2.9.1
visitor~=0.1.3
python-dateutil~=2.8.1
setuptools~=47.1.0
result~=0.6.0
psycopg2~=2.9.1